body{
    height: 3000px;
}
.testImg{
    width: 900px;
    margin: 0 auto;
}
.first{
    background-image: url(../img/fon.jpg);
    opacity: 1;
}

.firstUl{
    color: #864b1c;
    list-style-type: none;
    font-size: 27px;
    margin-top: 30px;
}
.secondUl{
    
    list-style-type: none;
    font-size: 17px;
    
}
h1{
    color: #864b1c;
}
h1 .u{
    color: rgb(29, 29, 141);
}
h1 .s{
    color: rgb(231, 231, 231);
}
h1 .a{
    color: rgb(177, 17, 17);
}
.psps{
    color: #864b1c;
    margin-top: 30px;
}
.menu{
    margin-top: 30px;
    border-bottom: solid 3px #864b1c;
}
.secondUl {
    color: #864b1c;
    list-style-type: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    
}
.ff{
    margin-bottom: 30px;
    border-top: solid 3px #864b1c;
}
.lastUl {
    color: #864b1c;
    list-style-type: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    
}
.block{
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}
.kartinki{
    height:250px;
    width: 400px;
}
.perehod{
    color: white;
    font-weight: bold;
    
}
.perehod:hover{
    color: white;
}
.times{
    height: 80px;
    
}
#clock{
    color: white;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
}
#data{
    color: white;
    font-size: 17px;
    text-align: center;
    
}
#scrollToTop {
    
    position: fixed;
    bottom: 20px;
    left:20px;
     font-weight: bold;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in;
}
h4{
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    padding: 5px;
}
